extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris elit justo, luctus vitae tempus sit amet, tempus id mi. Phasellus pharetra quis est at dapibus. Pellentesque at nibh ornare, mollis libero ac, eleifend neque. Nunc maximus a enim nec pellentesque. Mauris purus purus, dapibus quis mi mattis, lobortis hendrerit quam. 
                p Suspendisse id dui ut orci laoreet euismod in at ante. Nunc non dui ut mauris luctus pharetra ac sit amet nibh. 
                p Fusce pharetra neque eu neque porta aliquam. Nunc egestas quam id nisi aliquam, sed placerat nisl consectetur. Vestibulum tempus mauris ut mauris pulvinar, a congue lectus semper.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse vestibulum porttitor accumsan. Nam eget bibendum tortor. Maecenas lobortis ultrices mi ut aliquam. Proin at purus nec ligula imperdiet lobortis. Proin malesuada tempus felis nec dictum. 
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse vestibulum porttitor accumsan. Nam eget bibendum tortor. Maecenas lobortis ultrices mi ut aliquam. Proin at purus nec ligula imperdiet lobortis. Proin malesuada tempus felis nec dictum. 
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Suspendisse vestibulum porttitor accumsan. Nam eget bibendum tortor. Maecenas lobortis ultrices mi ut aliquam. Proin at purus nec ligula imperdiet lobortis. Proin malesuada tempus felis nec dictum. 